<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!--/*@thymesVar id="filter" type="com.epam.brest.model.dto.BankAccountsFilterDto"*/-->
<form class="row mb-2 gy-2"
      th:fragment="filter"
      th:action="@{/accounts}"
      th:object="${filter}"
      th:classappend="${filter} and ${#fields.hasErrors} ? 'pb-4'"
      method="post">
    <div class="col-lg-4 col-md-4 position-relative">
        <input type="text"
               name="numberPattern"
               class="form-control"
               th:placeholder="#{accounts.number.placeholder}"
               th:value="${filter?.numberPattern}"
               th:classappend="${filter} and ${#fields.hasErrors('numberPattern')} ? 'is-invalid'"/>
        <div class="invalid-tooltip"
             th:if="${filter} and ${#fields.hasErrors('numberPattern')}"
             th:errors="*{numberPattern}">
            Number Error
        </div>
    </div>
    <div class="col-lg-3 col-md-4 position-relative">
        <input type="text"
               name="customerPattern"
               class="form-control"
               th:placeholder="#{accounts.customer.placeholder}"
               th:value="${filter?.customerPattern}"
               th:classappend="${filter} and ${#fields.hasErrors('customerPattern')} ? 'is-invalid'"/>
        <div class="invalid-tooltip"
             th:if="${filter} and ${#fields.hasErrors('customerPattern')}"
             th:errors="*{customerPattern}">
            Customer Error
        </div>
    </div>
    <div class="col-lg-3 col-md-1">
    </div>
    <div class="col-lg-2 col-md-3 text-center my-auto">
        <div class="btn-group">
            <button class="btn btn-info text-white"
                    type="submit">
                Apply
            </button>
            <a href="../../accounts.html"
               class="btn btn-warning text-white"
               th:href="@{/accounts}">
                Reset
            </a>
        </div>
    </div>
</form>

</body>
</html>