<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Drivers</title>-->
<!--</head>-->
<!--<body>-->
<!--<center>-->
<!--    <h1>Drivers</h1>-->
<!--    <br/>-->
<!--    <a th:href="@{/drivers/new-driver}">Add driver</a>-->
<!--    <br/>-->
<!--    <div>-->
<!--        <a th:href="@{/drivers_dto/form-range}">Choose driver from date to date</a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <table border="1">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Unique driver's number</th>-->
<!--                <th scope="col">Driver name</th>-->
<!--                <th scope="col">Date when got job</th>-->
<!--                <th scope="col">Salary</th>-->
<!--                <th scope="col">Count cars assigned to the driver</th>-->
<!--                <th scope="col">Update driver</th>-->
<!--                <th scope="col">Delete driver</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="driver : ${driverList}">-->
<!--                <td th:text="${driver.driverId}"></td>-->
<!--                <td th:text="${driver.driverName}"></td>-->
<!--                <td th:text="${driver.driverDateStartWork}"></td>-->
<!--                <td th:text="${driver.driverSalary}"></td>-->
<!--                <td th:text="${driver.countOfCarsAssignedToDriver}"></td>-->
<!--                <td>-->
<!--                    <a th:href="@{/drivers/{id}/update-driver(id=${driver.driverId})}" th:text="'Update driver ' + ${driver.driverName}"></a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a th:href="@{/drivers/{id}(id=${driver.driverId})}" th:text="'Delete driver ' + ${driver.driverName}"></a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</center>-->
<!--</body>-->
<!--<hr>-->
<!--<a th:href="@{/}">Back to menu of motor depot</a>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      lang="en">

<th:block layout:fragment="content">
    <div class="container">
        <div th:replace="fragments/accounts/header :: header"></div>
        <div th:if="${error}">
            <div th:replace="fragments/alert :: alert(isError=true, message=${error})"></div>
        </div>
        <div th:if="${message}">
            <div th:replace="fragments/alert :: alert(isError=false, message=${message})"></div>
        </div>
        <div class="card">
            <div class="card-body text-primary fs-5">
                <div th:replace="fragments/accounts/filter :: filter"></div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item active">
                                <div th:replace="fragments/accounts/listheader :: listheader"></div>
                            </li>
                            <li class="list-group-item" th:each="account : ${accounts}">
                                <div th:replace="fragments/accounts/listitem :: listitem(account=${account})"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div th:replace="fragments/modal :: modal"></div>
        <form id="createCardForm"
              th:action="@{/card}"
              method="post">
            <input type="hidden" name="accountId" />
        </form>
    </div>
</th:block>

</html>