<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Drivers</title>
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                                  th:src="@{/img/logo.svg}"
                                                  height="32" width="32" alt="HR"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="drivers/drivers.html"
                           th:href="@{/drivers_dto}">Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cars/cars.html"
                           th:href="@{/cars}">Cars</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <nav id="sort-header"-->
<!--         class="py-1 mb-3 navbar navbar-light bg-light text-dark">-->
<!--        <span class="container-fluid">-->
<!--            <span class="navbar-brand text-uppercase">Sort drivers by date of employment</span>-->
<!--&lt;!&ndash;            <form class="row mb-2 gy-2"&ndash;&gt;-->
<!--&lt;!&ndash;            <form id="rangeForm"&ndash;&gt;-->
<!--&lt;!&ndash;                  action="drivers/form-range.html"&ndash;&gt;-->
<!--&lt;!&ndash;                  th:action="@{/drivers/drivers-range}"&ndash;&gt;-->
<!--&lt;!&ndash;                  th:object="${driver}"&ndash;&gt;-->
<!--&lt;!&ndash;                  th:classappend="${filter} and ${#fields.hasErrors} ? 'pb-4'"&ndash;&gt;-->
<!--&lt;!&ndash;                  method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-lg-5 col-md-4 text-center my-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="input-group-text ">Date from</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                               name="valueFromDate"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:value="${filter?.valueFromDate}"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:placeholder="#{range.date.placeholder}"&ndash;&gt;-->
<!--&lt;!&ndash;                               class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:classappend="${filter} and ${#fields.hasErrors('valueFromDate')} ? 'is-invalid'"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="invalid-tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                             th:if="${filter} and ${#fields.hasErrors('valueFromDate')}"&ndash;&gt;-->
<!--&lt;!&ndash;                             th:errors="*{valueFromDate}">&ndash;&gt;-->
<!--&lt;!&ndash;                            From Date Error&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-lg-5 col-md-4 text-center my-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="input-group-text">Expiry to</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                               name="valueToDate"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:value="${filter?.valueToDate}"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:placeholder="#{card.date.placeholder}"&ndash;&gt;-->
<!--&lt;!&ndash;                               class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:classappend="${filter} and ${#fields.hasErrors('valueToDate')} ? 'is-invalid'"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="invalid-tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                             th:if="${filter} and ${#fields.hasErrors('valueToDate')}"&ndash;&gt;-->
<!--&lt;!&ndash;                             th:errors="*{valueToDate}">&ndash;&gt;-->
<!--&lt;!&ndash;                            Value Date Error&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-lg-2 col-md-4 text-center my-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="btn-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button class="btn btn-info text-white"&ndash;&gt;-->
<!--&lt;!&ndash;                                type="submit">&ndash;&gt;-->
<!--&lt;!&ndash;                            Apply&ndash;&gt;-->
<!--&lt;!&ndash;                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="../../cards.html"&ndash;&gt;-->
<!--&lt;!&ndash;                           class="btn btn-warning text-white"&ndash;&gt;-->
<!--&lt;!&ndash;                           th:href="@{/cards}">&ndash;&gt;-->
<!--&lt;!&ndash;                            Reset&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--            <span class="container-fluid">-->
<!--                <div class="row">-->
<!--                    <div class="col">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <form id="rangeDriverForm"-->
<!--                                      th:object="${driver}"-->
<!--                                      action="drivers/form-driver.html"-->
<!--                                      th:action="@{/drivers_dto/drivers-range}"-->
<!--                                      th:method="@{get}">-->

<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                        <p>Please fix errors below:</p>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                    </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                    <input id="field_driverId"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                           type="hidden"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;                                           th:field="*{driverId}"/>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="datetime-local" th:field="*{fromDateChoose}" th:value="${driver.fromDateChoose}" name="fromDateChoose" id="fromDate"/>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--                                    <div class="mb-3">-->
<!--                                        <label class="form-label"-->
<!--                                               for="field_fromDate">From date</label>-->
<!--                                        <input class="form-control "-->
<!--                                               id="field_fromDate"-->
<!--                                               type="datetime-local" value="FromDateChoose"-->
<!--                                               th:field="*{fromDateChoose}"/>-->
<!--&lt;!&ndash;                                        <div th:if="${#fields.hasErrors('driverName')}"&ndash;&gt;-->
<!--&lt;!&ndash;                                             class="text-danger"&ndash;&gt;-->
<!--&lt;!&ndash;                                             th:errors="*{driverName}">[errors]&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label class="form-label"-->
<!--                                               for="field_toDate">To date</label>-->
<!--                                        <input class="form-control "-->
<!--                                               id="field_toDate"-->
<!--                                               type="datetime-local" value="toDateChoose"-->
<!--                                               th:field="*{toDateChoose}"/>-->
<!--                                        <div th:if="${#fields.hasErrors('toDateChoose')}"-->
<!--                                             class="text-danger"-->
<!--                                             th:errors="*{toDateChoose}">[errors]-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="d-flex justify-content-end">-->
<!--                                        <a href="drivers/drivers.html"-->
<!--                                           th:href="@{/drivers_dto}"-->
<!--                                           class="btn btn-light me-1"-->
<!--                                           title="Cancel">Cancel</a>-->
<!--                                        <a href="drivers/drivers.html"-->
<!--                                           th:href="@{/drivers_dto}"-->
<!--                                           th:onclick="@{document.forms['rangeDriverForm'].submit(); return false;}"-->
<!--                                           class="btn btn-primary"-->
<!--                                           title="Apply choice">Apply</a>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </span>-->
<!--        </span>-->
<!--    </nav>-->
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Sort drivers by date of employment</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="drivers/form-range.html"
                       th:href="@{/drivers_dto/form-range}"
                       class="btn btn-light"
                       title="Sort driver">
                        <i class="bi-plus"></i>&nbsp;<span class="d-none d-sm-inline">Choose dates</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="sort-driver"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Drivers</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="drivers/new-driver.html"
                       th:href="@{/drivers/new-driver}"
                       class="btn btn-light"
                       title="Add driver">
                        <i class="bi-plus"></i>&nbsp;<span class="d-none d-sm-inline">Add driver</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="drivers">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Unique driver's number</th>
                            <th scope="col">Driver name</th>
                            <th scope="col">Date when got job</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Count cars assigned to the driver</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="driver : ${driverList}">
                            <td th:text="${driver.driverId}"></td>
                            <td th:text="${driver.driverName}"></td>
                            <td th:text="${driver.driverDateStartWork}"></td>
                            <td th:text="${driver.driverSalary}"></td>
                            <td th:text="${driver.countOfCarsAssignedToDriver}"></td>
                            <td class="text-end">
                                <a href="drivers/update-driver.html"
                                   th:href="@{|/drivers/${driver.driverId}/update-driver|}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit driver">
                                    <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                                <span data-bs-toggle="modal" data-bs-target="#deleteDialog"
                                      th:attr="data-id=${driver.driverId},data-name=${driver.driverName}">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="delete driver"><i class="bi-x"></i><span
                                            class="d-none d-md-inline">&nbsp;Delete</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete driver</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Please confirm delete driver: "' + target.data('name') + '"')
        document.getElementById('deleteUrl').href = '/drivers/' + target.data('id');
    })
</script>
</body>
</html>